html, body, h,article,p{padding: 0;margin: 0;}
ul,li{margin:0;padding:0;list-style:none;}
html{font-size: 100%;}
body{font-size: 1.0em;}
header h3{background: url(/img/common/line1.png) ; background-repeat:repeat-x;height: 3em;line-height: 3em;margin: 0;padding: 0;color: white;width: 100%; text-align:center}
article{position: fixed; overflow-y:scroll; top:4em; width: 100%; height:calc(100% - 100px);  }
article>ul{text-align:center;}
article>ul li{  display:inline-block; background:#fff; width:40%;height:8em; border-radius:2em; margin:0.5em;line-height:2em; border:solid #f60 0.1em }
article>ul li .title{ font-weight:bold; padding-bottom:0.5em}
footer h3{background: url(/img/common/line1.png);position: absolute;height: 1.5em;line-height: 1.5em;margin: 0;padding: 0;color: white;width: 100%;text-align: center;bottom: 0em;clear: both; background-repeat:repeat-x;}